ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.scroll-bar, .guitar_scroll-bar {
    overflow-x: auto;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.15);
}

.many-columns, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 15px;
}

th {
    vertical-align: auto;
}

thead {
    background: rgb(212, 104, 255);
    color: white;
}

.table-image {
    padding: 30px;
    border: 2px dotted black;

}